# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django-related
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment variables
.env

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows
